{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}{{>element-main-nav}}

  <a class="link-back" href="/licences">Back</a>

  <h1 class="heading-large">{{ pageTitle }}</h1>

  <p>Applies from 29 October 2018.</p>

  <div class="grid-row">
    <div class="column-two-thirds">

      <p>The Environment Agency runs the Manage your water abstraction or impoundment licence service. Our <a href="https://www.gov.uk/government/organisations/environment-agency/about/personal-information-charter">personal information charter</a> explains how we deal with your information.</p>

      <h2 class="heading-small">Why we ask for your email address</h2>

      <p>We ask you to tell us your email address for three reasons.</p>

      <h3>1. To create a secure online account for you</h3>

      <p>You will need to enter your email address every time you sign in to use the service. We will send you some emails as part of the account creation process. These emails will include some web links that include tracking codes. We use these to track responses to our emails, but we will not use them to gather or store any information about your identity.</p>

      <h3>2. To contact you about this service</h3>

      <p>We may need to email you with information about the service: for example, when we update this privacy policy. We will not use your email address to contact you for marketing purposes.</p>

      <h3>3. To offer you paperless communication</h3>

      <p>We will ask if you prefer to receive notifications about your licence by post or email. We will then use this method to send you notifications if possible. We are in the process of updating our IT systems, so you may still receive communication by other methods too.</p>

      <h2 class="heading-small">How your email address will be stored</h2>

      <p>Your email address will be held in a secure Environment Agency database that is only accessed by our service. Your email address will remain in this database until you ask us to remove it.</p>


      <h2 class="heading-small">How to remove your email address from our database</h2>

      <p>To have your email address removed from our database, please <a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">contact the Environment Agency</a>.

      <p>This means that you will no longer be able to access and use the Manage your water abstraction or impoundment licence service.</p>


    </div>
  </div>


</main>
{{> footerjs}}
{{> debug}}
